[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipdb = "*"
pytest-mock = "*"
jinja2 = "*"

[packages]
click = "*"

[requires]
python_version = "3.8"
